[submodule "pkgs/loader"]
	path = pkgs/loader
	url = https://github.com/neko-para/MaaJSLoader
	branch = grpc
[submodule "assets/skland/MaaAssistantSkland"]
	path = assets/skland/MaaAssistantSkland
	url = https://github.com/MaaAssistantArknights/MaaAssistantSkland.git
